<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>OSTdaemon</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>http://celegans.sh.se</string>
	<key>CFBundleIconFile</key>
	<string>umicon.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OSTDaemon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OSTDaemon</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$APPLICATION/..</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>OSTdaemon.StartOSTdaemon</string>
		<key>Properties</key>
		<dict>
			<key>apple.awt.Antialiasing</key>
			<string>false</string>
			<key>apple.awt.brushMetalLook</key>
			<string>false</string>
			<key>com.apple.hwaccel</key>
			<string>true</string>
			<key>com.apple.macos.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.growbox.intrudes</key>
			<string>false</string>
			<key>com.apple.mrj.application.live-resize</key>
			<string>true</string>
			<key>com.apple.smallTabs</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xms32m -Xmx1500m</string>
		<key>Arguments</key>
		<string>--classload</string>
	</dict>
</dict>
</plist>
