[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Endrov
Exec=endrov %F
#TryExec=endrov
Icon=/usr/share/pixmaps/endrov.xpm
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
#X-GNOME-Bugzilla-Bugzilla=GNOME
#X-GNOME-Bugzilla-Product=GIMP
StartupNotify=true
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-compressed-xcf;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/bf;
