<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>udaemon</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>http://celegans.sh.se</string>
	<key>CFBundleIconFile</key>
	<string>umicon.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>uDaemon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>uDaemon</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$APP_PACKAGE/..:$APP_PACKAGE/../libs/mac/postgresql-8.2-505.jdbc3.jar:$APP_PACKAGE/../libs/mac/gluegen-rt.jar:$APP_PACKAGE/../libs/mac/jogl.jar:$APP_PACKAGE/../libs/mac/sqlitejdbc-v033-native.jar:$APP_PACKAGE/../libs/jcommon-1.0.9.jar:$APP_PACKAGE/../libs/jfreechart-1.0.5.jar:$APP_PACKAGE/../libs/servlet.jar:$APP_PACKAGE/../libs/gnujaxp.jar:$APP_PACKAGE/../libs/itext-2.0.1.jar:$APP_PACKAGE/../libs/junit.jar:$APP_PACKAGE/../libs/gnujaxp.jar:$APP_PACKAGE/../libs/jdom.jar:$APP_PACKAGE/../libs/jaxen-core.jar:$APP_PACKAGE/../libs/jaxen-jdom.jar:$APP_PACKAGE/../libs/saxpath.jar:$APP_PACKAGE/../libs/xalan.jar:$APP_PACKAGE/../libs/xerces.jar:$APP_PACKAGE/../libs/xml-apis.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>microdaemon.GUI</string>
		<key>Properties</key>
		<dict>
			<key>apple.awt.Antialiasing</key>
			<string>false</string>
			<key>apple.awt.brushMetalLook</key>
			<string>false</string>
			<key>com.apple.hwaccel</key>
			<string>true</string>
			<key>com.apple.macos.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.growbox.intrudes</key>
			<string>false</string>
			<key>com.apple.mrj.application.live-resize</key>
			<string>true</string>
			<key>com.apple.smallTabs</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xms32m -Xmx1500m -Djava.library.path=libs/mac</string>
	</dict>
</dict>
</plist>
