//You may want to restrict permissions here
grant {
	// /etc/java-6-sun/security/java.policy has default settings on debian

	permission java.security.AllPermission;

	permission java.net.SocketPermission "*", "accept,resolve";
};

