table
{
/*    border-color: #600;*/
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-collapse: collapse;
}

td
{
    border-width: 1px 1px 0 0;
    border-style: solid;
/*    border-color: #600;
    margin: 0;
    padding: 4px;
    background-color: #FFC;*/
}

/*<link rel="stylesheet" type="text/css" href="class.css" />*/
